<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title Ruann Linde</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Scripts", required: false)

    @Styles.Render("~/content/bootstrap")
    @Styles.Render("~/content/font-awesome")
    @Styles.Render("~/content/main")
</head>
<body ng-app="rlApp">
    <main class="container body-content" role="main">
        <div class="container container-fluid">
            <div class="row">
                <div class="col-12">
                    @RenderBody()
                    @RenderSection("SPAViews", required: false)
                </div>
            </div>
            <footer class="page-footer">
                <div class="container">
                    <span class="">
                        &copy; @DateTime.Now.Year
                    </span>
                </div>
            </footer>
        </div>
    </main>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")

    @RenderSection("Scripts", required: false)
</body>
</html>
